<article class="app-article govuk-!-margin-top-4">
  <header class="app-article__header">
    <h1 class="app-article__title govuk-heading-xl">{{ title }}</h1>
    {% if description %}
      <p class="app-article__description govuk-body-l govuk-!-margin-bottom-4">{{ description }}</p>
    {% endif %}
  </header>

  <div class="app-article__body">
    <div class="app-prose">
      {{ content | safe }}
    </div>
  </div>

  <footer class="app-article__footer">
    {% if date %}
      Published {{ date | date("d LLLL y") }}<br>
    {% endif %}
    {% if modified %}
      Last updated {{ modified | date("d LLLL y") }}
    {% endif %}
  </footer>
</article>
