{% extends "base.njk" %}

{% from "document-list/macro.njk" import appDocumentList %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>
  <div class="govuk-grid-row">
    <section class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l govuk-!-font-size-27">{{ size }} posts found</h2>
      {{ appDocumentList({
        items: results | reverse
      }) }}
    </section>
  </div>
{% endblock %}
