{% extends "base.njk" %}

{% from "article/macro.njk" import appArticle %}
{% from "related/macro.njk" import appRelated %}
{% from "prose/macro.njk" import appProse %}
{% from "user-need/macro.njk" import appUserNeed with context %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    classes: "app-!-print-display-none",
    items: breadcrumbs | breadcrumbs(app, page, title)
  }) if breadcrumbs != false }}
{% endblock %}

{% block content %}
  {% call appArticle({
    header: {
      title: page.fileSlug,
      description: description
    },
    footer: {
      date: page.date,
      modified: modified if modified
    }
  }) %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{appUserNeed({ user: user, goal: goal, outcome: outcome, status: status })}}

        {{ appProse({
          prose: content
        }) }}

        {% if collections[page.fileSlug].length %}
          <h2 class="govuk-heading-l">Posts</h2>
          <ul class="govuk-list govuk-list--bullet">
            {% for post in collections[page.fileSlug] %}
              <li><a href="{{post.url}}">{{post.data.title}}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  {% endcall %}
{% endblock %}
