.app-email {
  @include govuk-font($size: false);
  border: $govuk-border-width solid $govuk-border-colour;
  padding: govuk-spacing(4);
  margin-bottom: govuk-spacing(8);

  h1 {
    @extend %govuk-heading-xl;
  }

  h2 {
    @extend %govuk-heading-l;
  }

  h3 {
    @extend %govuk-heading-m;
  }

  p {
    @extend %govuk-body-m;
  }

  ol {
    @extend %govuk-list;
    @extend %govuk-list--number;
  }

  ul {
    @extend %govuk-list;
    @extend %govuk-list--bullet;
  }

  a {
    @extend %govuk-link;
  }
}

.app-email__subject {
  padding-bottom: govuk-spacing(4);
  margin-top: 0;
  margin-bottom: govuk-spacing(4);
  border-bottom: 1px solid $govuk-border-colour;
}
