{%- from "../embed/macro.njk" import appEmbed with context -%}
<figure class="app-figure">
{% if params.title %}
  <figcaption class="govuk-heading-s">
    {{ params.title }}{% if params.id %}<a class="header-anchor" href="#{{ params.id }}">#</a>{% endif %}
  </figcaption>
{% endif %}
{% if params.embed %}
  {{ appEmbed({
    placeholder: params.embed.placeholder,
    src: params.embed.src,
    youtubeId: params.embed.youtubeId,
    title: params.embed.title
  }) | indent(2) }}
{% endif %}
{% if params.image %}
  <a href="{{ params.image.file }}">
    <img src="{{ params.image.file }}" alt="{{ params.image.alt }}">
  </a>
{% endif %}
{% if params.caption %}
  <figcaption class="app-figure__caption app-prose">
    {{ params.caption | markdown | safe }}
  </figcaption>
{% endif %}
</figure>
