.app-tag-no-content {
  outline: 2px solid govuk-colour("dark-grey");
  color: govuk-colour("dark-grey");
  background: govuk-colour("white");
}

.app-tag-not-running {
  background: govuk-colour("mid-grey");
}

.app-tag-draft {
  background: govuk-colour("orange");
}

.app-tag-published {
  background: govuk-colour("green");
}

.app-grid-column-one-fifth {
  box-sizing: border-box;
  width: 20%;
  padding: 0 15px;
  float: left;
}
