.app-tag-no-content {
  background: govuk-colour("white");
  color: govuk-colour("dark-grey");
  outline: 2px solid govuk-colour("dark-grey");
}

.app-tag-not-running {
  background: govuk-colour("mid-grey");
}

.app-tag-draft {
  background: govuk-colour("orange");
}

.app-tag-published {
  background: govuk-colour("green");
}

.app-grid-column-one-fifth {
  width: 20%;
  float: left;
  box-sizing: border-box;
  padding: 0 15px;
}
