// GOV.UK Frontend styles
$govuk-global-styles: true;

@import "../../../node_modules/govuk-frontend/dist/govuk/index";

// Component styles
@import "../../_components/all";

// Vendor styles
@import "vendor/prism";

// Becoming a teacher design history styles
@import "bat-design-history";
@import "markdown";
@import "tables";

.app-prose .app-images--two-thirds-width img {
  max-width: 66.6%;
}

// override the background colour to match the new GOV.UK brand
.govuk-template,
.govuk-footer {
  background-color: govuk-tint($govuk-brand-colour, 95%);
}
