---
permalink: sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for page in collections.all %}
  {%- if page.data.layout %}
  <url>
    <loc>{{ site.url }}{{ page.url }}</loc>
    <lastMod>{{ page.date.toISOString() }}</lastMod>
    <changefreq>{{ page.sitemap.changefreq | default('monthly') }}</changefreq>
		<priority>{{ page.sitemap.priority | default('0.2') }}</priority>
  </url>
  {%- endif %}
  {%- endfor %}
</urlset>
