---
layout: page
eleventyExcludeFromCollections: true
permalink: "/tags/index.html"
title: Tags
---

<ul class="govuk-list govuk-list--bullet">
  {% for tag in collections.allTags %}
    <li><a href="/tagged/{{ tag | slugify }}">{{ tag }}</a> ({{ collections[tag] | length }})</li>
  {% endfor %}
</ul>
