.app-user-need {
  background-color: govuk-colour('light-grey');
  padding: govuk-spacing(5);
  margin-bottom: govuk-spacing(6);
  position: relative;

  p:last-child {
    margin-bottom: 0;
  }
}

.app-user-need__status {
  position: absolute;
  top: govuk-spacing(2);
  right: govuk-spacing(2);
}
