.app-user-need {
  display: flex;
  flex-direction: column-reverse;
  background-color: govuk-colour('light-grey');
  padding: govuk-spacing(5);
  margin-bottom: govuk-spacing(6);
  position: relative;

  &:hover {
    background-color: darken(govuk-colour('light-grey'), 5%);
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.app-user-need__title {
  @include govuk-font($size: 16);
  margin: 0;
  margin-top: govuk-spacing(2);

  a::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}

.app-user-need__status {
  position: absolute;
  top: govuk-spacing(2);
  right: govuk-spacing(2);
  z-index: 0;
}
