.app-article__title {
  @include govuk-font($size: 48, $weight: bold);
  margin-top: 0;
  margin-bottom: govuk-spacing(8);
}

.app-article__metadata {
  @include govuk-font($size: 16, $line-height: 1.5);
  color: $govuk-secondary-text-colour;
  margin-top: govuk-spacing(4);
}
