{% from "govuk/components/tag/macro.njk" import govukTag %}

<article class="app-article">
  {% if params.header %}
  <header class="app-article__header">
    {% if params.header.caption %}
      <span class="govuk-caption-xl">{{ params.header.caption }}</span>
    {% endif %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="app-article__title {{params.header.classes}}">{{ params.header.title }}</h1>
        {% if params.header.tag %}
          {{ govukTag({
            text: params.header.tag | capitalize
          }) }}
        {% endif %}

        <p class="app-article__metadata">
          {% if params.header.date %}
            <span class="govuk-visually-hidden">Posted on: </span><time datetime="{{ params.header.date | date }}">{{ params.header.date | date("d LLLL y") }}</time>
          {% endif %}

          {% if params.header.modified %}
            <span aria-hidden="true">•</span>
            Last updated <time datetime="{{ params.modified | date }}">{{ params.modified | date("d LLLL y") }}</time>
          {% endif %}

          {% if params.header.tags %}
            <span aria-hidden="true">•</span>
            Tags:
            {% for tag in params.header.tags %}
              <a href="/tagged/{{ tag | slugify }}" class="govuk-link">{{ tag }}</a>
            {% endfor %}
          {% endif %}
        </p>



      </div>
    </div>
  </header>
  {% endif %}

  <div class="app-article__body">
{{- caller() if caller -}}
  </div>
</article>
