.app-bar-chart {
  [style^="--chart-width"] {
    position: relative;
    padding-left: govuk-spacing(1);
  }

  [style^="--chart-width"]:before {
    content: "";
    display: block;
    position: absolute;
    inset: govuk-spacing(1) 0;
    width: var(--chart-width);
    background-color: govuk-colour("yellow");
    mix-blend-mode: multiply;
  }
}
