{% from "user-need/macro.njk" import appUserNeed %}

{% for item in params.items %}
  {{ appUserNeed({
    title: item.data.title,
    description: item.templateContent,
    status: item.data.status,
    url: item.url
  }) }}
{% endfor %}
