.app-gallery {
  padding: 0;
  list-style: none;
}

.app-gallery--layout-thumbnails {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem,1fr));
  grid-gap: govuk-spacing(6);

  figure {
    @include govuk-responsive-margin(2, "bottom");

    > a {
      display: block;
    }

    > img {
      object-fit: cover;
      object-position: top;
    }
  }
}
