{# Only compute breadcrumbs if we have items and a key #}
{% if params.items and params.key %}
  {% set items = params.items | eleventyNavigationBreadcrumb(params.key) %}
  {% if items | length > 0 %}
    <div class="govuk-breadcrumbs{%- if params.classes %} {{ params.classes }}{% endif %}">
      <ol class="govuk-breadcrumbs__list">
      {%- for item in items %}
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="{{ item.url | url | pretty }}">{{ item.title }}</a>
        </li>
      {%- endfor %}
      </ol>
    </div>
  {% endif %}
{% endif %}
